<!DOCTYPE html>
{% load static %}
<html>
    <head>
        <title>Django - Pictures Gallery</title>
        <link rel="stylesheet" href="{% static 'pictures/css/style.css' %}">
    </head>
    <body>
        <div class="vertical-menu">
            <form action="/pictures" method="GET" class="active">
                <input type="submit" value="Home"> 
            </form>
            <form action="/pictures/album" method="GET" class="active">
                <input type="submit" value="Album"> 
            </form>
            <form action="/pictures/upload" method="GET" class="active">
                    <input type="submit" value="Upload"> 
            </form>
            <form action="/pictures/add-album" method="GET" class="active">
                <input type="submit" value="Create Album"> 
            </form>
        </div> 
	    <div class='container'>
		    <div class="gallery">
                {% block body %}{% endblock body %}
		    </div>
		</div>
    </body>
</html>